name: Pylint

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.13
      uses: actions/setup-python@v4
      with:
        python-version: 3.13
    - name: Install dependencies
      run: |
        sudo apt-get -y install libbz2-dev
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f requirements-extras.txt ]; then pip install -r requirements-extras.txt; fi
        if [ -f requirements-train.txt ]; then pip install -r requirements-train.txt; fi
        pip install pylint
    - name: Install SQUEzE
      run: pip install -e .
    - name: Analysing the code with pylint
      run: |
        pylint py/squeze/*py
